.venv/
.cache/
__pycache__/
finetune_checkpoints/wandb/
glide_model_cache/
.vscode/
outputs/
wandb/
finetune_checkpoints/
docker_child/
CLAUDE.md
TODOS.md
current_prediction.png
glide_checkpoints/
.scratch/
*.pt
